[Unit]
Description=Flask Agent Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/init6/agent.py
WorkingDirectory=/opt/init6
Restart=always
User=ec2-user
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
